docs/wsdl/demo/PANServiceImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-)
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.webservice.pan.kra.ndml.com/" version="1.0" targetNamespace="http://service.webservice.pan.kra.ndml.com/">

  <xs:element name="getPasscode" type="tns:getPasscode"></xs:element>

  <xs:element name="getPasscodeResponse" type="tns:getPasscodeResponse"></xs:element>

  <xs:element name="getPasscodeTest" type="tns:getPasscodeTest"></xs:element>

  <xs:element name="getPasscodeTestResponse" type="tns:getPasscodeTestResponse"></xs:element>

  <xs:element name="panDownloadDetails" type="tns:panDownloadDetails"></xs:element>

  <xs:element name="panDownloadDetailsComplete" type="tns:panDownloadDetailsComplete"></xs:element>

  <xs:element name="panDownloadDetailsCompleteResponse" type="tns:panDownloadDetailsCompleteResponse"></xs:element>

  <xs:element name="panDownloadDetailsResponse" type="tns:panDownloadDetailsResponse"></xs:element>

  <xs:element name="panInquiryDetails" type="tns:panInquiryDetails"></xs:element>

  <xs:element name="panInquiryDetailsResponse" type="tns:panInquiryDetailsResponse"></xs:element>

  <xs:element name="panInquiryDetailsThree" type="tns:panInquiryDetailsThree"></xs:element>

  <xs:element name="panInquiryDetailsThreeResponse" type="tns:panInquiryDetailsThreeResponse"></xs:element>

  <xs:element name="panInquiryDetailsTwo" type="tns:panInquiryDetailsTwo"></xs:element>

  <xs:element name="panInquiryDetailsTwoResponse" type="tns:panInquiryDetailsTwoResponse"></xs:element>

  <xs:element name="processModification" type="tns:processModification"></xs:element>

  <xs:element name="processModificationResponse" type="tns:processModificationResponse"></xs:element>

  <xs:element name="processModificationTest" type="tns:processModificationTest"></xs:element>

  <xs:element name="processModificationTestResponse" type="tns:processModificationTestResponse"></xs:element>

  <xs:complexType name="getPasscode">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPasscodeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panInquiryDetails">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panInquiryDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panInquiryDetailsTwo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panInquiryDetailsTwoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panDownloadDetails">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panDownloadDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panDownloadDetailsComplete">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panDownloadDetailsCompleteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPasscodeTest">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPasscodeTestResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processModification">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processModificationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processModificationTest">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processModificationTestResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panInquiryDetailsThree">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="arg3" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="panInquiryDetailsThreeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>